<div class="container">
  <div class="side-menu">
    <h3>Colegio</h3>
    <ul>
      <li><a routerLink="/alumnos" routerLinkActive="active">Alumnos</a></li>
      <li><a routerLink="/profesores" routerLinkActive="active">Profesores</a></li>
      <li><a routerLink="/grados" routerLinkActive="active">Grados</a></li>
      <li><a routerLink="/alumnos-grado" routerLinkActive="active">Alumnos por Grado</a></li>
    </ul>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
