<div class="container">
    <h2>{{ isEditing ? 'Editar Alumno' : 'Agregar Alumno' }}</h2>

<form>
  <div class="form-group">
    <label for="nombres">Nombres:</label>
    <input
      type="text"
      id="nombres"
      [(ngModel)]="profesor.nombres"
      name="nombres"
      required
    />
  </div>

  <div class="form-group">
    <label for="apellidos">Apellidos:</label>
    <input
      type="text"
      id="apellidos"
      [(ngModel)]="profesor.apellidos"
      name="apellidos"
      required
    />
  </div>

  <div class="form-group">
    <label for="genero">Género:</label>
    <select id="genero" [(ngModel)]="profesor.genero" name="genero" required>
      <option value="Masculino">Masculino</option>
      <option value="Femenino">Femenino</option>
    </select>
  </div>

  <div class="form-actions">
    <button class="guardar-button" mat-raised-button color="primary" (click)="onSave()">
      <span class="material-icons">save</span> Guardar
    </button>
    <button class="cancel-button" (click)="onCancel()">
      <span class="material-icons">cancel</span> Cancelar
    </button>
  </div>
</form>

</div>